* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background-color: rgb(53, 53, 53);
    font-family: sans-serif;
    background-image: url(img/4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 10px;
    font-size: 1.2em;
    height: 100vh;
}

footer p {
    text-align: center;
    font-style: italic;
}

footer {
    margin-top: 160px;
}

.lista {
    margin-left: 70px;
    padding: 10px;
}

.paragrafo {
    width: 100%;
    margin-top: 13px;
    color: red;
    padding: 3px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.473);
    border: 3px solid red;
}

.resultadoAnalise div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
    padding: 10px;
    box-shadow: green 5px 5px 6px;
}

.resultadoAnalise div span {
    padding: 6px;
    color: rgb(184, 183, 183);
    font-weight: bold;
}

#butaoPesquisa,
#butaoPesquisaNota {
    width: 140px;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.514);
}

#butaoPesquisaNota {
    margin-top: -38px;
    margin-left: 120px;
}

#butaoPesquisa:hover {
    background-color: rgba(255, 255, 255, 0.452);
}

.resultadoAnalise div span:nth-child(2) {
    color: green;
    padding-right: 110px;
    font-size: 1.6em;
}

.pesquisaDados {
    margin-top: 50px;
}

.pesquisaDados p {
    color: rgb(207, 126, 21);
    font-size: 1.3em;
    font-weight: bold;
}

.buscaDados {
    border: 2px #fff solid;
    margin-top: 50px;
}

.buscaDados p {
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.219);
    background-color: rgba(22, 22, 22, 0.397);
    font-size: 1.2em;
    text-align: center;
}

.pesquisaDados label {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    padding-right: 20px;
}

#nomeDisciplina {
    background-color: rgba(0, 0, 0, 0.507);
    transition: .6s;
}

#nomeDisciplina:hover {
    background: rgba(255, 255, 255, 0.404);
}

#nomeDisciplina::placeholder {
    color: rgba(255, 255, 255, 0.521);
}

.notaBaixa {
    color: red;
    box-shadow: red 5px 5px 6px;
}

.problema span {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}

p {
    padding: 20px;
}

label {
    color: rgb(129, 63, 19);
    font-weight: bold;
}

input[type='text'],
[type='number'] {
    width: 200px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.247);
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.1em;
    border-radius: 10px;
}

#form2 label {
    color: rgb(43, 127, 196);
}

input[type='text']::placeholder {
    font-size: 17px;
    padding: 10px;
    color: rgba(32, 20, 1, 0.644);
    font-weight: bold;
}

input[type='number'] {
    width: 90px;
}

input[type='button'] {
    border: 2px rgb(0, 110, 255) solid;
    background-color: rgba(43, 114, 180, 0.603);
    color: rgb(0, 53, 102);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    transition: .6s;
}

input[type='button']:hover {
    background-color: rgba(59, 137, 211, 0.76);
    color: #fff;
    letter-spacing: 3px;
}

h1 {
    background-color: rgba(62, 62, 253, 0.582);
    padding-left: 10px;
    text-align: center;
}

.estiloregisto {
    /* border: 2px solid #fff; */
    box-shadow: 5px 5px 10px #000;
    padding: 16px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.096);
}

.solucao {
    /* visibility: hidden; */
    display: block;
    margin-top: 2px;
    padding: 20px;
    transition: .6s;
}

form {
    padding: 20px;
}

table {
    margin-top: 20px;
}

table,
th,
td {
    border: 2px solid #fff;
    border-collapse: collapse;
}

th {
    color: rgb(245, 245, 94);
    background-color: rgba(0, 0, 0, 0.267);
    padding: 5px;
}

td {
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.26);
}

#disc-nome:focus {
    background-color: rgba(0, 0, 0, 0.452);
}

#disc-nota:focus {
    background-color: rgba(0, 0, 0, 0.452);
}

.solucao p {
    line-height: 4px;
}

.butao {
    padding: 20px;
}